/Proyecto_Java/fruitStore_controller/build/
/Proyecto_Java/fruitStore_controller/dist/

/Proyecto_Java/fruitStore_desktop_app/build/
/Proyecto_Java/fruitStore_desktop_app/dist/

/Proyecto_Java/fruitStore_model/build/
/Proyecto_Java/fruitStore_model/dist/
/Proyecto_Java/fruitstore/nbproject/private/
/Proyecto_Java/fruitstore/build/
/Proyecto_Java/fruitstore/dist/